body{
    background-image: url(https://image.shutterstock.com/image-vector/pixel-art-game-location-cosmic-260nw-773003752.jpg)
}
#logo {
    position: relative;
    left: -5%;   
    top: 0%;
}
.container-fluid {
    background-color: rgb(10, 10, 10);
}
.nav-item{
    position: relative;
    left: 100%;
}