<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jogue Comigo!</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
   <div><img id = "logo" src = "css/img/logo.png" some text></div> 


   <div class = "container-fluid">
   <nav id = nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aleatorizador.html">Aleatorizador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Cadastro/Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="descubra.html">Descubra</a>
                </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="cada">
    <form>
      <p>Nome:<input type="name" name = "Nome"></p>
      <p>Email:<input type="email" name = "Email"></p>
            <p>Senha:<input type="password" name = "Senha"></p>
            <p>repita sua senha:<input type="password" name = "Senha2"></p>
            </form>
            <button id = "fi">Logar</button>
            </div>